@model Monasapat.Models.Reservation

@{
    ViewData["Title"] = "Details";
}
@{
    Layout = "_Layout2";
}
                    <div>
                       <h2 class="p-2 bg-light border text-center">Details Reservations</h2>
                        <hr />

                        <div class="container">

                            @*    <dl class="row">
                                    <div class="col-md-2"></div>

                                  
                                        
                                            <div class="card" style="width: 60rem;">
                                                <img src="~/images/blog-07.jpg" class="card-img-top" alt="..." style="height: 35rem;">
                                                <div class="card-body">
                                                 <h5 class="card-title"> <b style="color:#e27542">Status :</b>  @Html.DisplayFor(model => model.Status) </h5>
                                                <h5 class="card-title"><b style="color:#e27542">Reservation Time :</b> @Html.DisplayFor(model => model.ReservationTime) </h5>
                                                <h5 class="card-title"><b style="color:#e27542">Paid Monay : </b>@Html.DisplayFor(model => model.PaidMoney)) </h5>
                                                <h5 class="card-title"><b style="color:#e27542">Remaining Money : </b> @Html.DisplayFor(model => model.remainingMoney) </h5>
                                                <h5 class="card-title"><b style="color:#e27542">Total Money :  </b>@Html.DisplayFor(model => model.TotalMoney) </h5>
                                                <h5 class="card-title"><b style="color:#e27542">Place Name  :  </b>@Html.DisplayFor(model => model.Place.Name) </h5>
                                                <h5 class="card-title"><b style="color:#e27542">User Name : </b> @Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName) </h5>
                                                    
                                                    
                                                    <a href="#" class="btn btn-primary text-center m-2">  Reservations </a>
                                                </div>
                                            </div>


                                       <div class="col-md-2"></div>
                               
                                </dl*@>

                                <div class="card card-user">
                                    <div class="image">
                                        <img src="~/images/bac.jpg" alt="..." />
                                    </div>
                                    <div class="content">
                                        <div class="author">
                                            <a href="#">
                                                <img class="avatar border-gray" src="~/images/blog-04.jpg" alt="..." />

                                                <h4 class="title">
                                                    <b style="color:#e27542">Status :</b>  @Html.DisplayFor(model => model.Status) <br />
                                                    <b style="color:#e27542">Reservation Time :</b>  @Html.DisplayFor(model => model.ReservationTime) <br />
                                                    <b style="color:#e27542">paid Money :</b>  @Html.DisplayFor(model => model.PaidMoney) <br />
                                                    <b style="color:#e27542">remaining money :</b>  @Html.DisplayFor(model => model.remainingMoney) <br />
                                                     <b style="color:#e27542">remaining money :</b>  @Html.DisplayFor(model => model.TotalMoney) <br />
                                                    <b style="color:#e27542">total Monay :</b>  @Html.DisplayFor(model => model.Place.Name) <br />
                                                    <b style="color:#e27542">User Name : </b> @Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)<br />
                                                    <small></small>
                                                </h4>
                                            </a>
                                        </div>
               
                                    </div>
                                    <hr>

                                </div>


                                <div class="text-end">
                                    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
                                    <a asp-action="Index">Back to List</a>
                                </div>

                        </div>
                    </div>

